@media screen and (max-width: 980px) and (min-width: 769px){

	#last-link{
		margin-right:50px;
	}

	#about-me p{
		clear:both;
		float:left;
	}

	#main-section{
		width:420px;
		margin-left:35px;
	}

	#about-me-img{
		margin-left:75px;
	}

	.image-box{
		margin-left:86px;
	}

	#my-name{
		margin-left:35px;
	}
  
 }
  
@media screen and (max-width: 768px) and (min-width: 641px){

	header{
		height:60px;
	}

	#content{
		height:1050px;
	}
		

	#main-section{
		margin-left:30px;
		margin-bottom:10px;
		width:610px;
	}

	#sidebar{
		clear:both;
		width:610px;
		margin-left:30px;
		margin-top:0px;
	}

	#my-name{
		margin-left:30px;
		margin-right:20px;
		padding: 20px 22px;
	}

	#links{
		padding:6px 35px 5px 35px;
		margin-left:0px;
		margin-bottom:30px;
		margin-right:0px;
	}

	#last-link{
		padding:6px 10px 5px 35px;
		margin-left:5px;
		margin-right:10px;
		margin-bottom:30px;
	}

	.images{
		height:140px;
		width:205px;
	}

	.image-box{
		height:140px;
		width:205px;
	}	

}


@media screen and (max-width: 640px) and (min-width: 0px){
	header{
		clear:both;
		position:static;
	}

	#content{
		height:1420px;
	}

	#my-name{
		clear:both;
		width:100%;
		margin-left:0px;
		margin-right:0px;
	}

	#links{
		overflow:hidden;
		width:33%;
		padding-top:20px;
		padding-bottom:20px;
		margin:0px;

	}

	#last-link{
		clear:both;
		margin:0px;
		padding-top:20px;
		padding-bottom:20px;
		width:33%;
	}

	#main-section{
		margin-left:27px;
		margin-top:10px;
		width:90%;
	}

	#sidebar{
		clear:both;
		width:90%;
		margin-left:27px;
		margin-top:0px;
	}

	.image-box{
		margin-left:100px;
		width:50%;
		height:140px;
	}

	.images{
		width:100%;
		height:140px;
	}

	#about-me p{
		clear:both;
		float:left;
	}

	#about-me-img{
		margin-left:75px;
	}

}